<div class="flex h-full w-full">
    <nav class="w-20 bg-gray-700"></nav>
    <div class="ml-8 w-full">
        <nav class="bg-gray-900 h-20 mb-8 flex items-center">
            <input class="bg-gray-700 h-14 text-gray-400 rounded-full px-7 outline-none focus:bg-gray-600" type="text" placeholder="Search">
            <button class="font-mono text-xs font-black text-gray-400 hover:text-blue-400 ml-auto mr-7">Test for Covid</button>
            <button class="font-mono text-xs font-black text-gray-400 hover:text-blue-400 mx-7">Safety measures</button>
            <button class="font-mono text-xs font-black text-gray-400 hover:text-blue-400 mx-7">News</button>
            <button class="font-mono text-xs font-black text-gray-400 hover:text-blue-400 mx-7">COVID-19</button>
            <button class="font-mono text-xs font-black text-gray-400 hover:text-blue-400 mx-7">Affected areas</button>
            <button class="font-mono text-xs font-black text-gray-400 hover:text-blue-400 mx-7">First aid</button>
            <button class="font-mono text-xs font-black text-gray-400 hover:text-blue-400 mx-7">Services</button>
            <button class="font-mono text-xs font-black text-gray-400 hover:text-blue-400 mx-7">About us</button>
            <img src="" alt="">
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>